<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>

    <link crossorigin="anonymous" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">

</head>
<body>

<div class="container">
    <h1 class="text-center mt-4">User Management</h1>

    <form method="post" th:action="@{/create/process}" th:object="${employee}">

        <div class="mb-3">
            <label class="form-label" for="name">First Name</label>
            <input class="form-control" id="name" name="name" th:field="*{name}" type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="lastName">Last name</label>
            <input class="form-control" id="lastName" name="lastName" th:field="*{lastName}" type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="dateOfBirth">Birthdate</label>
            <input class="form-control" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" type="date"/>
        </div>

        <div class="g-recaptcha" data-sitekey="6LfKJeAmAAAAANxgKoJ3TmVqyKsR9TkXZEmgmiqf"></div>

        <button class="btn btn-primary mt-2" type="submit">Submit</button>
        <a class="btn btn-danger mt-2" th:href="@{/}" type="submit">Cancel</a>
    </form>

</div>

<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js}"></script>
<script async defer th:src="@{https://www.google.com/recaptcha/api.js}"></script>

</body>
</html>
